<div class="container">
        <h4 class="text-center pt-4 pb-4">Ваша корзина</h4>
        <div class="card">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Товар</th>
                  <th scope="col">Изображение</th>
                  <th scope="col">Стоимость</th>
                  <th scope="col">Кол-во</th>
                  <th scope="col">Общая стоимость</th>
                  <th scope="col">Действие</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td><img src="" height="100%" width="200px"></td>
                  <td></td>
                  <td>
                      <form action="" method="POST">
                          <input type="hidden" name="item_id" value="">
                          <input class="form-control text-center me-3" id="inputQuantity" name="qty" type="number" value="" min="1" max="5" style="max-width: 4rem" />
                          <br>
                          <input type="submit" class="btn btn-outline-dark mt-auto" value="Пересчитать">
                      </form>
                  </td>
                  <td></td>
                    <td><a href=""><button class="btn btn-danger">Удалить из корзины</button></a></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                    <td><strong></strong></td>
                </tr>
                  <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><a href=""><button type="button" class="btn btn-primary btn-lg">Перейти к оформлению</button></a></td>
                </tr>
              </tbody>
            </table>
        </div>
        <h4 class="text-center pt-4 pb-4">Ваша корзина пуста</h4>
    </div>
