<div class="container">
        <h4 class="text-center pt-4 pb-4">Оформление заказа</h4>
        <div class="card" style="border: none;">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">Товар</th>
                  <th scope="col">Изображение</th>
                  <th scope="col">Стоимость</th>
                  <th scope="col">Кол-во</th>
                  <th scope="col">Общая стоимость</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td><img src="" height="100%" width="200px"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><strong>Итого:</strong></td>
                </tr>
              </tbody>
            </table>
        </div>
    <h3 class="text-center mt-5 mb-5">Форма заказа</h3>
    <div class="col-md-6 offset-3">
        <form action="" method="POST">
          <input type="submit" class="btn btn-success btn-block mb-3" value="Оформить заказ">
        </form>
    </div>
    </div>